.date-container,
.header-list
{
    display: inline-flex;
}

.sitios{
    display: none;
}

.date-container > *{
    margin: .25rem;
    font-weight: 200;
    font-size: 1rem;
}

.header-image{
    padding: 1rem 0;
    max-width: 50%;
}


.lists-container{
    min-width: 100%;
    justify-content: center;
    background-color: #000A2F;
}

.header-list > *{
    padding: .5rem;
    font-size: .75rem;
}

.titles{
    background-color: #000A2F;
}

.titles > *{
    padding: .5rem 1rem;
    font-size: 1.125rem;
    color: white;
}

@media only screen and (min-width: 768px){
    .lists-container{
        display: inline-flex;
    }
}

@media only screen and (min-width: 1024px){
    .sitios{
        display: inline-flex;
    }
}