body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

header{
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: white;
}

main{
    max-width: 800px;
    margin: auto;
    padding: 0 .5rem;
    padding-top: 6rem;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.75rem;
    font-weight: 200;
}

h3{
    font-size: 1.5rem;
}

p{
    font-size: 1.25rem;
}

a{
    color: #086DFF;
    font-weight: bold;
}

figure{
    margin: 0;
}

img{
    display: block;
    margin: auto;
    max-width: 100%;
    align-self: center;
}

@media only screen and (min-width: 768px){
    main{
        padding-top: 9rem;
    }
}

@media only screen and (min-width: 1024px){
    main{
        padding-top: 13rem;
    }
}